*.o
*.P
*.d
*.so
*.so.*
*~
*.swp
\#*\#
.\#*
config.inc
install
*target*
*.pyc
*.bck
/.project
/2srv2.sh
/archive_all.sh
/tag_all_to_epn.sh
/test.sh
*_test.py
~*vcproj
*.tmp
/.cproject
/.pydevproject
/.settings
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
