[submodule "third-party/CBFLib"]
	path = third-party/CBFLib
	url = git://git.epn-campus.eu/repositories/CBFlib.git
[submodule "third-party/Sps"]
	path = third-party/Sps
	url = git://git.epn-campus.eu/repositories/Sps.git
[submodule "third-party/Processlib"]
	path = third-party/Processlib
	url = git://git.epn-campus.eu/repositories/Processlib.git
[submodule "camera/basler"]
	path = camera/basler
	url = git://git.epn-campus.eu/repositories/LimaCameraBasler
[submodule "applications/spec"]
	path = applications/spec
	url = git://git.epn-campus.eu/repositories/LimaSpec
[submodule "camera/pco"]
	path = camera/pco
	url = git://git.epn-campus.eu/repositories/LimaCameraPco
[submodule "camera/pilatus"]
	path = camera/pilatus
	url = git://git.epn-campus.eu/repositories/LimaCameraPilatus
[submodule "applications/tango"]
	path = applications/tango
	url = git://git.epn-campus.eu/repositories/LimaTango
[submodule "camera/maxipix"]
	path = camera/maxipix
	url = git://git.epn-campus.eu/repositories/LimaCameraMaxipix
[submodule "documentation"]
	path = documentation
	url = git://git.epn-campus.eu/repositories/LimaDocumentation
[submodule "camera/frelon"]
	path = camera/frelon
	url = git://git.epn-campus.eu/repositories/LimaCameraFrelon
[submodule "camera/common/espia"]
	path = camera/common/espia
	url = git://git.epn-campus.eu/repositories/LimaCameraEspia
