[submodule "third-party/CBFLib"]
	path = third-party/CBFLib
	url = git://git.epn-campus.eu/repositories/CBFlib.git
[submodule "third-party/Sps"]
	path = third-party/Sps
	url = git://git.epn-campus.eu/repositories/Sps.git
[submodule "third-party/Processlib"]
	path = third-party/Processlib
	url = git://github.com/esrf-bliss/Processlib.git
[submodule "camera/basler"]
	path = camera/basler
	url = git://github.com/esrf-bliss/Lima-camera-basler
[submodule "applications/spec"]
	path = applications/spec
	url = git://github.com/esrf-bliss/Lima-spec
[submodule "camera/pco"]
	path = camera/pco
	url = git://github.com/esrf-bliss/Lima-camera-pco
[submodule "camera/pilatus"]
	path = camera/pilatus
	url = git://github.com/esrf-bliss/Lima-camera-pilatus
[submodule "applications/tango"]
	path = applications/tango
	url = git://github.com/esrf-bliss/Lima-tango
[submodule "camera/maxipix"]
	path = camera/maxipix
	url = git://github.com/esrf-bliss/Lima-camera-maxipix
[submodule "documentation"]
	path = documentation
	url = git://github.com/esrf-bliss/Lima-documentation
[submodule "camera/frelon"]
	path = camera/frelon
	url = git://github.com/esrf-bliss/Lima-camera-frelon
[submodule "camera/common/espia"]
	path = camera/common/espia
	url = git://github.com/esrf-bliss/Lima-camera-common-espia
[submodule "applications/taco"]
	path = applications/taco
	url = git://github.com/esrf-bliss/Lima-taco
[submodule "third-party/yat"]
	path = third-party/yat
	url = git://git.epn-campus.eu/repositories/yat
[submodule "camera/prosilica"]
	path = camera/prosilica
	url = git://github.com/esrf-bliss/Lima-camera-prosilica
[submodule "camera/xpad"]
	path = camera/xpad
	url = git://github.com/esrf-bliss/Lima-camera-xpad
[submodule "camera/marccd"]
	path = camera/marccd
	url = git://github.com/esrf-bliss/Lima-camera-marccd
[submodule "camera/adsc"]
	path = camera/adsc
	url = git://github.com/esrf-bliss/Lima-camera-adsc
[submodule "camera/roperscientific"]
	path = camera/roperscientific
	url = git://github.com/esrf-bliss/Lima-camera-roperscientific
[submodule "camera/mythen"]
	path = camera/mythen
	url = git://github.com/esrf-bliss/Lima-camera-mythen
[submodule "camera/ueye"]
	path = camera/ueye
	url = git://github.com/esrf-bliss/Lima-camera-ueye
[submodule "camera/perkinelmer"]
	path = camera/perkinelmer
	url = git://github.com/esrf-bliss/Lima-camera-perkinelmer
[submodule "camera/andor"]
	path = camera/andor
	url = git://github.com/esrf-bliss/Lima-camera-andor
[submodule "camera/photonicscience"]
	path = camera/photonicscience
	url = git://github.com/esrf-bliss/Lima-camera-photonicscience
[submodule "third-party/CCfits"]
	path = third-party/CCfits
	url = git://git.epn-campus.eu/repositories/CCfits
[submodule "third-party/cfitsio"]
	path = third-party/cfitsio
	url = git://git.epn-campus.eu/repositories/cfitsio
[submodule "camera/rayonixhs"]
	path = camera/rayonixhs
	url = git://github.com/esrf-bliss/Lima-camera-rayonixhs
[submodule "camera/andor3"]
	path = camera/andor3
	url = git://github.com/esrf-bliss/Lima-camera-andor3.git
[submodule "third-party/libconfig"]
	path = third-party/libconfig
	url = git://github.com/esrf-bliss/libconfig.git
